<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap" rel="stylesheet">
<br>
<img src="https://thumbs.dreamstime.com/b/heart-shape-various-vegetables-fruits-healthy-food-concept-isolated-white-background-140287808.jpg" alt=""/>
<div class="links">
  <h2>Click on the emojis for nutrional benefits! </h2>
  <a href="https://www.healthline.com/nutrition/oranges">&#127823;Apple</a>
  <br>
  <a href="https://www.healthline.com/nutrition/cherries-benefits">&#127826;Cherries</a>
  <br>
  <a href="https://www.healthline.com/nutrition/benefits-of-grapes">&#127815;Grapes</a>
  <br>
  <a href="https://www.healthline.com/nutrition/oranges">&#127818;Oranges</a>
  <br>
  <a href="https://www.healthline.com/nutrition/foods/tomatoes">&#127813;Tomatoes</a>
  <br>
  <a href="https://www.healthline.com/nutrition/benefits-of-pineapple">&#127821;Pineapple</a>
  <br>
  <a href="https://www.healthline.com/nutrition/kiwi-benefits">&#129373;Kiwi</a>
  <br>
  <a href="https://www.healthline.com/nutrition/mangos">&#129389;Mango</a>

  <br>
  <a href="https://www.healthline.com/nutrition/watermelon-health-benefits">&#127817;Watermelon</a>
  <br>
  <a href="https://www.healthline.com/nutrition/eggplant-benefits">&#127814;Eggplant</a>

  <br>
  <a href="https://www.healthline.com/nutrition/7-health-benefits-of-cucumber">&#129362;Cucumber
  </a>
  <br>
  <a href="https://www.healthline.com/nutrition/foods/potatoes">&#129364;
    Potatoes
  </a>
  <br>
  <a href="https://www.healthline.com/nutrition/foods/carrots">&#129365;Carrots

  </a>
  <br>
  <a href="https://www.healthline.com/nutrition/foods/bell-peppers">&#129745;Bell Peppers

  </a>
</div>
