<!--<script src="InventoryFunctions.js"></script>-->
<!--<button type="button" (click)="addAppleToInventory()">Add Apple to Inv</button>-->
<!--<button type="button" (click)="addPearToInventory()">Add Pear</button>-->

<!--<button type="button" (click)="checkItems()">check inventory</button>-->
<!--<button type="button" (click)="createCart()">add apple to cart</button>-->
<div class="container">

  <h1>OUR SHOP</h1>

  <div id="alerts"></div>
  <div class="productcont">
    <div class="product">
      <h3 class="productname">Apples</h3>
      <p>1 unit </p>
      <img src= "https://www.collinsdictionary.com/images/full/apple_158989157.jpg">
      <p class="price">$1.00</p>
      <button type="button" (click)="addAppleToCart()">Add to Cart</button>
    </div>

    <div class="product">
      <h3 class="productname">Bell Peppers</h3>
      <p>1 unit</p>
      <img src= "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7pjbLgxZ9RCu_6hoaHwfeQmite50gGMxXSbWRrHeZ6VUK6MmMfY00EIz4jm0jfSFFTuE&usqp=CAU">
      <p class="price">$1.40</p>
      <button type="button" (click)="addBellPeppersToCart()">Add to Cart</button>
    </div>  <div class="product">
    <h3 class="productname">Carrots</h3>
    <p>1 unit</p>
    <img src= "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTz9kuKeB-IClXCYgJrBan6YmK8TZECMIM6qg&usqp=CAU">
    <p class="price">$0.50</p>
    <button type="button" (click)="addCarrotToCart()">Add to Cart</button>
  </div>
    <div class="product">
      <h3 class="productname">Cherries</h3>
      <p>1 lb</p>
      <img src= "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT99-a9eMu_MPoj7S7sheNpKseYuneqcQMsCgtwtFYyYv-b7WdHXy51gmlDSljGln1BPCk&usqp=CAU">
      <p class="price">$4.00</p>
      <button type="button" (click)="addCherriesToCart()">Add to Cart</button>
    </div>
    <div class="product">
      <h3 class="productname">Cucumber</h3>
      <p>1 unit</p>
      <img src= "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQKlMMrO2WnjbisVAe40XeWbqi8tywLNVb7Tg&usqp=CAU">
      <p class="price">$1.50</p>
      <button type="button" (click)="addCucumberToCart()">Add to Cart</button>
    </div>  <div class="product">
    <h3 class="productname">Eggplants</h3>
    <p>1 unit</p>
    <img src= "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRQkpmoMi3s_Hxm2T-ZpwGR7YU0dg_U8hoDBQ&usqp=CAU">
    <p class="price">$1.70</p>
    <button type="button" (click)="addEggplantToCart()">Add to Cart</button>
  </div>  <div class="product">
    <h3 class="productname">Grapes</h3>
    <p>1 lb</p>
    <img src= "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQBt9YWQtB9jFOTq37Lf3mm-NUGoN5juv-gsw&usqp=CAU">
    <p class="price">$2.09</p>
    <button type="button" (click)="addGrapesToCart()">Add to Cart</button>
  </div>  <div class="product">
    <h3 class="productname">Kiwi</h3>
    <p>1 unit</p>
    <img src= "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPP9rEkG7GJm7-_sjS1okGSidpYl2PW5-3oCJ0QCeDKPCXe0FDiavjak8mBfd8tz-seLk&usqp=CAU">
    <p class="price">$0.80</p>
    <button type="button" (click)="addKiwiToCart()">Add to Cart</button>
  </div>  <div class="product">
    <h3 class="productname">Mango</h3>
    <p>1 unit</p>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvRMSBEGWTIZyHxVuHgF9b87x7teuyGoAN7g&usqp=CAU">
    <p class="price">$1.65</p>
    <button type="button" (click)="addMangoToCart()">Add to Cart</button>
  </div>  <div class="product">
    <h3 class="productname">Oranges</h3>
    <p>1 lb</p>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQVaa5ubNE3GrpVnZ7O7nLvZkW21juTpWWojw&usqp=CAU">
    <p class="price">$2.00</p>
    <button type="button" (click)="addOrangesToCart()">Add to Cart</button>
  </div>
    <div class="product">
      <h3 class="productname">Pineapple</h3>
      <p>1 unit</p>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQCohXkMAgPGbxubMRfzZTY-XFeCJxgmxfPPg&usqp=CAU">
      <p class="price">$3.30</p>
      <button type="button" (click)="addPineappleToCart()">Add to Cart</button>
    </div>

    <div class="product">
      <h3 class="productname">Potatoes</h3>
      <p>1 lb</p>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQkVZIKbtQoLVe3A-wGEGlmV9sgHuBUmOLo4w&usqp=CAU">
      <p class="price">$1.15</p>
      <button type="button" (click)="addPotatoToCart()">Add to Cart</button>
    </div>
    <div class="product">
      <h3 class="productname">Tomatoes</h3>
      <p>1 unit</p>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRR070DKIszVq9oF1o0bFst3y5VL2Sei4t_8w&usqp=CAU">
      <p class="price">$1.50</p>
      <button type="button" (click)="addTomatoToCart()">Add to Cart</button>
    </div>
    <div class="product">
      <h3 class="productname">Watermelon</h3>
      <p>1 unit</p>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRXoexL2lQLIIUBOAjv9rCIHMLYusUkZ9tNnA&usqp=CAU">
      <p class="price">$16.50</p>
      <button type="button" (click)="addWatermelonToCart()">Add to Cart</button>
    </div>




  </div>
  <div class="cart-container">
    <h2>Cart</h2>
    <table>
      <thead>
      <tr>
        <th><strong>Product</strong></th>
        <th><strong>Price</strong></th>
      </tr>
      </thead>
      <tbody id="carttable">
      </tbody>
    </table>
    <hr>
    <table id="carttotals">
      <tr>
        <td><strong>Items</strong></td>
        <td><strong>Total</strong></td>
      </tr>
      <tr>
        <td>x <span id="itemsquantity">0</span></td>

        <td>$<span id="total">0</span></td>
      </tr></table>


    <div class="cart-buttons">
      <button id="emptycart">Empty Cart</button>
      <button id="checkout">Checkout</button>
    </div>
  </div>
</div>
